<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nunu-Bot reporting</title>
</head>
<body>
    <h1>Nunu Bot</h1>
    <h2>STEAM featured games</h2>
    <div id="list-container" >
        <table style="width: 100%;">
            <tbody>
                {{#each results}}
                    {{#if discounted}}
                        <tr style="background-repeat: no-repeat;background-size: 100%;text-align: center;font-weight: bold;font-size: medium;color: white; background-image: linear-gradient(rgba(0, 0, 0, 0.498039), rgba(0, 0, 0, 0.498039)), url({{this.header_image}});">
                            <td>
                                <div style="color: white;">
                                    <h3>{{this.name}}</h3>
                                    <p>Discount: {{this.discount_percent}}%</p>
                                    <p>Original Price: U$S{{#math this.original_price "/" '100'}}{{/math}}</p>
                                    <p>Final Price: U$S{{#math this.final_price "/" '100'}}{{/math}}</p>
                                    <p>Windows: {{this.windows_available}}</p>
                                    <p>Mac: {{this.mac_available}}</p>
                                    <p>Linux: {{this.linux_available}}</p>
                                    <p>Controller support: {{this.controller_support}}</p>
                                </div>
                            </td>
                        </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
